@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    body{
        background:linear-gradient( rgba(238,174,202,1) 0%, rgba(148,187,233,1));
        display: flex ;
        height: 100vh;
     justify-content: center;
     align-items: center;
    align-content: center;
     font-family: 'Poppins',sans-serif;
     flex-direction: column;
}